.container {
    display: flex;
    flex-direction: row;
    gap: 3px;
    background-color: darkblue;
    color: white;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.container div {
    border: 2px solid gray;
    width: 25vw;
}

@media screen and (max-width: 600px){
    
}

@media  (max-width: 300px){
    .container {
        flex-direction: column;
    }
}